rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /reactmeetup2/{userId} {
      allow create: if request.auth.uid != null;
    }
  }
}