body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media (max-width: 960px) {
  body {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 15px;
  }
}
